/* --------------------------------------------------------------------- MAIN */
html,body{margin:0;padding:0;font-family:sans-serif}#topbar{background:#393B3E}#topbar img.logo-img{width:50px;margin:10px}#main h2{padding:10px;background:#009fe3;color:#FFF;font-family:serif;font-size:36px}#footer{background:#6D6F72}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
